.app {
  display: flex;
}

.main {
  flex: 1;
  padding: 0 1rem;
}

.sidebar {
  width: 320px;
  margin: 2rem 0;
  height: calc(100vh - 4rem);
  position: relative;
  transition: all 0.3s;
}

.sidebar--closed {
  margin-right: -300px;
  cursor: pointer;
}

.sidebar--closed:hover > * {
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.35);
}

.sidebar__close {
  position: fixed;
  right: 1rem;
  top: 3rem;
}

.sidebar--closed .sidebar__close {
  display: none;
}

.title {
  text-transform: uppercase;
}

.title__small {
  color: grey;
}

/* MOVIE */

.movie__card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 185px;
  position: relative;
}

.movie__card:hover .movie__card__thumb {
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.35);
  transform: scale(1.05);
}

.movie__card:hover .movie__card__add {
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.25);
  transform: scale(1.1);
  /* top: 0.25rem; */
  /* right: 0.25rem; */
}

.movie__card__content {
  padding: 1rem;
}

.movie__card__thumb {
  border-radius: 24px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

.movie__card__add {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.movie__card__title {
  font-weight: 700;
  margin: 0;
}

.movie__card__genres {
  color: grey;
  margin: 0.5rem 0;
}

.movie__card__date {
  color: grey;
  margin: 0.5rem 0;
}

.movie__card__score {
  color: goldenrod;
  float: right;
}

/* Watchlist */

.watchlist {
  background: #333;
  color: white;
  height: calc(100vh - 4rem);
  position: fixed;
  width: 320px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  padding: 2rem;
  box-sizing: border-box;
}

.watchlist__title {
  margin: 0 0 1rem;
}

.watchlist__movies {
  list-style: none;
  padding: 0;
  overflow-y: hidden;
  height: 90%;
}

.watchlist__movies__item {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
}

.watchlist__movie__item__img {
  margin-right: 1rem;
}

.watchlist__movie__item__title {
  margin: 0.5rem 0;
}

.watchlist__movie__item__genre {
  margin: 0;
  color: lightgray;
}

.watchlist__movie__item__score {
  color: goldenrod;
  align-self: center;
  flex: 1;
  text-align: right;
}

.square {
  width: 48px;
  height: 48px;
  overflow: hidden;

  border-radius: 12px;
}

.square img {
  width: 100%;
}

.btn {
  background-color: white;
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.btn--inverse {
  color: white;
  background-color: transparent;
}
.btn--inverse:hover {
  background-color: #bbb;
}

.btn--icon {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

label {
  margin-bottom: 0.5rem;
  display: inline-block;
}

.select {
  display: block;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 0 1rem;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.select::-ms-expand {
  display: none;
}
.select:hover {
  border-color: #888;
}
.select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(218, 165, 32, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.select option {
  font-weight: normal;
}

.genres_filter {
  margin: 0 -0.25rem;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.genres_filter li {
  cursor: pointer;
  display: block;
  padding: 0.2rem 0.5rem;
  margin: 0 0.25rem 0.5rem;
  background: #4a4949;
  border-radius: 0.5em;
}
.genres_filter li.genres_filter__item--selected {
  background-color: white;
  color: #333;
}
